.App {
  text-align: center;
  background-color: black;
  background-image: url(https://p0.piqsels.com/preview/545/792/946/minimalism-clean-beautiful-background.jpg);
}


.headTitle {
  font-family: 'Ultra', serif;
  font-size: 25px; 
  color: #FFE81F;
  background-color: black;
  font-size: 45px;
  padding-bottom: 10px;
}

/* .bodyDiv {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: 50px auto 50px;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  color: #FFE81F;
  list-style: none;  
  line-height: 50px;
  border: 1px solid purple;   
  justify-items: center;

} */

.bodyDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #FFE81F;
  line-height: 50px;
}

.shipBox {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  background-color: #548c9c;
  row-gap: 40px;
  column-gap: 40px;
  border: 1px solid #FFE81F;;
}

/* My CSS Dream */

/* 
1. background to be black on the main page or that lighter black that it already is, would also be fine. 
2. each ship should be in its own little rounded block
3. each ship block should be a different color based on the colors of the lightsabers (blue, green, purple, yellow)
4. enable hover effect when hovering over the ship
5. each ship should have it's own image that is also a link (I saved images for each of the ten displayed currently in my notes app)
6. the link should take you to the api's website for that ship or that ships url (? maybe?) */
