.App {
  text-align: center;
  background-color: black;
  background-image: url(https://p0.piqsels.com/preview/545/792/946/minimalism-clean-beautiful-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}


.headTitle {
  font-family: 'Ultra', serif;
  font-size: 25px; 
  color: #FFE81F;
  background-color: black;
  font-size: 45px;
  padding-bottom: 10px;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
}





.bodyDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #FFE81F;
  line-height: 50px;
}

.shipBox {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  background-color: #548c9c;
  row-gap: 40px;
  column-gap: 40px;
  border: 1px solid #FFE81F;
  align-items: center;
}

.footer {
  /* position: fixed; */
  color: white;
  font-size: 15px;
  text-align: left;
}



/* My CSS Dream */

/* 

4. enable hover effect when hovering over the ship
5. each ship should have it's own image that is also a link (I saved images for each of the ten displayed currently in my notes app)
6. the link should take you to the api's website for that ship or that ships url (? maybe?) 
7. get the ship box to have a ship name and image on one side of card and then onClick the card flips over w/ the ships info on it.
8. get the webpage to be full page instead of half*/
