.App {
  text-align: center;
  background-color: black;
  background-image: url(https://p0.piqsels.com/preview/545/792/946/minimalism-clean-beautiful-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.headTitle {
  font-family: 'Ultra', serif;
  font-size: 25px; 
  color: #FFE81F;
  background-color: black;
  font-size: 45px;
  padding-bottom: 10px;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

.bodyDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  color: #FFE81F;
  line-height: 50px;
}

/* .shipBox {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  background-color: #548c9c;
  row-gap: 40px;
  column-gap: 40px;
  border: 1px solid #FFE81F;
  align-items: center;
} */

/* //////////////////////////////////////////////// */
/* // FLIPCARD CSS */

.ship-card {
  background-color: transparent;
  width: 200px;
  height: 200px; 
  border: 1px solid #FFE81F;
  perspective: 1000px;
  display: flex;
  justify-content: space-around;
  row-gap: 40px;
  align-items: center;
  font-family: 'DotGothic16', sans-serif;
  font-size: 15px;
}

.ship-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.ship-card:hover .ship-card-inner {
  transform: rotateY(180deg);
}

.ship-card-front, .ship-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ship-card-front {
  background-color: #548c9c;
  color: #FFE81F;
}

.ship-card-back {
  background-color: #2e4558;
  color:#FFE81F;
  transform: rotateY(180deg);
}

.ship-card a{
  color: #FFE81F
}
/* /////////////////////////////////////////////////////// */

.footer {
  /* position: fixed; */
  color: white;
  font-size: 15px;
  text-align: left;
}



